body{
    
    padding: 0px;
    margin: 0px;
    background-color: red;
    width: 100%;
    height: 100%;
    /* background: url("/img/fundo.png"); */
    /* background-repeat: no-repeat; */
}

#pok{
    width: 50%;
    padding-left: 25%;
}

h1{
    display: flex;
    justify-content: center; 
    color: yellow;
    font-size: 3rem;
    font-family: 'Noto Serif', serif;
}
  
  #pokedex {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 70%;
    margin: auto;
    background-color: #dd0b2d;
    border: #88061c 10px solid;
    border-top-width: 20px;
    z-index: 2;
    display: grid;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 3% 12% 40% 20% 20% 5%;
    border-radius: 2%;
    font-family: 'Press Start 2P';
  }
  
  .camera-display {
    display: flex;
    justify-content: center;
    background-color: #E5F6FC;
    border-radius: 5%;
    border: 30px solid #E6E6E6;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    width: 90%;
    height: 80%;
  }
  
#pokemon{
    width: 100%;
    height: 100%;
}

  .divider {
    background-color: #88061c;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 7;
    margin: 0 30px;
    }
.stats-display {
    background-color: #9fdab1;
    border-radius: 0%;
    border: 5px solid #E6E6E6;
    grid-column-start: 4;
    grid-row-start: 3;
    padding: 15px;
    overflow: scroll;
    height: 100%;
  }

h2#name {
      color: rgb(8, 8, 129);
      margin: 10px 0;
    }
#n{
    display: flex;
    justify-content: start;
    align-items: center;
}

ul {
  margin: 10px;
  overflow: auto;
  color: white;
  }
  
#sensor{
    color: #36738d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #71CDF4;
    border-radius: 30px;
    width: 50px;
    height:50px;
}
  .sensor {
    display: flex;
    justify-content: center;
      cursor: pointer;
      background: #71CDF4;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: block;
      margin: auto;
      z-index:3;
      float: left;
      margin-left: 25px;
      border: 3px solid white;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  
  .botom-actions {
    grid-column-start: 2;
    grid-row-start: 5;
    display: grid;
    grid-template-columns: 25% 25% 15% 35%;
    grid-template-rows: 10% 80% 10%;
  }
  
  #actions {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 5;
  }
.a {
      color: white;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background-color: #404040;
      border: 5px solid #303030;
      cursor: pointer;
}

  
  #cross {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
  }
    .cross-button {
      background-color: #404040;
      border: #303030;
      color: red;
      cursor: pointer;
      border-style: solid;
    }
    .up {
      grid-row-start: 1;
      grid-column-start: 2;
      border-width: 5px 5px 0px 5px;
    }
    .right {
      grid-row-start: 2;
      grid-column-start: 1;
      border-width: 5px 0px 5px 5px;
    }
    .down {
      grid-row-start: 3;
      grid-column-start: 2;
      border-width: 0px 5px 5px 5px;
    }
    .left {
      grid-row-start: 2;
      grid-column-start: 3;
      border-width: 5px 5px 5px 0px;
    }
    .center {
      grid-row-start: 2;
      grid-column-start: 2;
      border-width: 0;
    }
    
  
  
  .input-pad {
    background-color: green;
    grid-row-start: 4;
    grid-column-start: 4;
  }
    input {
      width: 93%;
      height: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 0 10px;
      background-color: #E6E6E6;
      font-family: 'Press Start 2P';
      font-size: 20px;
    }
  
  .bottom-modes {
    grid-row-start: 5;
    grid-row-start: 5;
    grid-column-start: 4;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 20% 40%;
  }
  
  .black-button {
    background-color: #404040;
    border: #303030 5px solid;
    color: rgb(255, 250, 250);
    cursor: pointer
  }
  .pokedex-mode {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .game-mode {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  
  .level-button {
    background-color: #1697F9;
    border: #71CDF4 5px solid;
    color: rgb(255, 248, 248);
    cursor: pointer;
  }
  
a{
      text-decoration: none;
      color: white;
  }
  /* cadastro */
#dados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: blue;
    font-size: 2rem;
    font-family: 'Noto Serif', serif;
}

#enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    /* float: left; */
    color: black;
    margin: solid black 2px;
    border-radius: 30px;
    font-family: 'Noto Serif', serif;

}

#enviar:hover{
    background-color: black;
    color: white;
    margin: solid white 2px;
}

/* details */
#tela{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 250px;
}

#det{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
#poke{
  display: flex;
  justify-content: center;


}
article{
  color: yellow;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
h2{
  display: flex;
  color: blue;
}

#message{
  display: flex;
  justify-content: center;
  font-family: 'Noto Serif', serif;
  background-color: rgb(104, 10, 10);
}

#close{
  display: flex;
  font-size: 30px;
}
